@model KickballManager.ViewModels.AvailablePlayers
    @Html.AntiForgeryToken()
@{
    ViewBag.Title = "Assign Players";
}

@{
    ViewBag.Title = "Index";
}
<th>
    <table class="table">

        <tr>
            <th>
                Name
            </th>
            <th>
                Team Name
            </th>
            <th>
                Add To Team
            </th>
            </tr>
            @if (Model.Players != null )
            {
               foreach (var item in Model.Players)
                {
                    <form method="post">
                    <tr>
                        @Html.Hidden("teamID", Model.TeamID)
                        @Html.Hidden("PlayerID", item.ID)
                        <td>
                            @Html.DisplayFor(model => item.Name)
                        </td>


                        <td>
                            @if(item.TeamID.HasValue && item.TeamID==Model.TeamID)
                            {
                                Html.DisplayFor(model => Model.TeamName);
                            }
                            
                        <td>
                            <input type="submit" value="Assign" >
                        </td>

                    </tr>
                    </form>
                }
            }
        </table>
